{% extends 'base.html' %}

{% block content %}

{% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}


<h2>All Events</h2>

<table id="EventsTable" class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Category</th>
            <th>Date</th>
            <th>Location</th>
            <th>Description</th>
            <th>Capacity</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Creator</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.category }}</td>
                <td>{{ event.date }}</td>
                <td>{{ event.location }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.capacity }}</td>
                <td>{{ event.start_date }}</td>
                <td>{{ event.end_date }}</td>
                <td>{{ event.creator.username }}</td>
                <td>
                    {% if user.is_authenticated %}
                        {% if event.id in booked_events %}
                            <span class="badge badge-success">Booked</span>
                        {% else %}
                        <a href="{% url 'book_an_event' event.id %}" class="btn btn-primary">Book</a>
                        {% endif %}
                    {% else %}
                        <span class="text-muted">Login to book</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
