<!-- organizer_list.html -->

{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-between align-items-center">

    <!-- Button trigger modal for Add Organizer -->
     {% if user.is_superuser %}
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addOrganizerModal">
        + Add Organizer
    </button>
    {% endif %}

    <h2>Organizer List</h2>

    <hr>
</div>

    <table class="table table-striped TableAttributes">
        <thead>
            <tr>
                <th>SL</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for organizer in organizers %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ organizer.name }}</td>
                    <td>{{ organizer.description }}</td>
                    <td>
                        <a title="Edit" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editOrganizerModal{{ organizer.id }}">
                            <i class="bi bi-pencil-square"></i></a>
                        <a title="Delete" class="btn btn-danger btn-sm" href="{% url 'delete_organizer' organizer.id %}"><i class="bi bi-trash"></i></a>                             
                    </td>
                </tr>

                <!-- Edit Organizer Modal -->
                <div class="modal fade" id="editOrganizerModal{{ organizer.id }}" tabindex="-1" aria-labelledby="editOrganizerModalLabel{{ organizer.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editOrganizerModalLabel{{ organizer.id }}">Edit Organizer</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="{% url 'edit_organizer' organizer.id %}">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="organizer-name" class="form-label">Organizer Name</label>
                                        <input type="text" class="form-control" id="organizer-name" name="name" value="{{ organizer.name }}" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="description" class="form-label">Description</label>
                                        <textarea class="form-control" id="description" name="description" rows="3">{{ organizer.description }}</textarea>
                                    </div>
                                        
                                    <button type="submit" class="btn btn-primary">Update Organizer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </tbody>
    </table>

    <!-- Add Organizer Modal -->
    <div class="modal fade" id="addOrganizerModal" tabindex="-1" aria-labelledby="addOrganizerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addOrganizerModalLabel">Add Organizer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'add_organizer' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="organizer-name" class="form-label">Organizer Name</label>
                            <input type="text" class="form-control" id="organizer-name" name="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Organizer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
