{% extends 'base.html' %}

{% block content %}


<div class="container">
<h1 class="text-center my-4">Dashboard</h1>

<div class="row">

    <div class="col-md-4">
        <div class="stat bg-success">
            <h3>Total Events</h3>
            <a href="{% url 'event_list' %}">{{ total_events }}</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="stat bg-info">
            <h3>My Booked Events</h3>
            <a href="{% url 'booked_events' %}">{{ my_booked_events }}</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="stat bg-warning">
            <h3>Ongoing Events</h3>
            <a href="{% url 'event_list' %}#ActiveEventsTable">{{ ongoing_events }}</a>
        </div>
    </div>
    <div class="col-md-4 mt-4">
        <div class="stat bg-warning">
            <h3>Events Start Soon</h3>
            <a href="{% url 'event_list' %}#ActiveEventsTable">{{ start_soon_events }}</a>
        </div>
    </div>
    <div class="col-md-4 mt-4">
        <div class="stat bg-danger">
            <h3>Finished Events</h3>
            <a href="{% url 'event_list' %}#FinishedEventsTable">{{ finished_events }}</a>
        </div>
    </div>

    {% if user.is_superuser %}
    <div class="col-md-4 mt-4">
        <div class="stat bg-primary">
            <h3>Total Categories</h3>
            <a href="{% url 'category_list' %}">{{ total_categories }}</a>
        </div>
    </div>
    <div class="col-md-4 mt-4">
        <div class="stat bg-secondary">
            <h3>Total Organizers</h3>
            <a href="{% url 'organizer_list' %}">{{ total_organizers }}</a>
        </div>
    </div>
    <div class="col-md-4 mt-4">
        <div class="stat bg-primary">
            <h3>Total Users</h3>
            <a href="{% url 'register_user_list' %}">{{ total_users }}</a>
        </div>
    </div>
    {% endif %}

</div>
</div>


{% endblock %}